@model Prova1.Models.VendaAcao


@{
    ViewData["Title"] = "Index";
}

<h2>Venda</h2>

<p>
    <a asp-action="Create"><button class="btn btn-info">Nova Venda</button></a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Valor</th>
            <th>Quantidade</th>
            <th>Broker</th>
            <th>Data</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.venda.Count(); i++)
        {
            <tr>
                <th>@Html.DisplayFor(modelItem => Model.venda[i].Valor)</th>
                <th>@Html.DisplayFor(modelItem => Model.venda[i].Quantidade)</th>
                <th>@Html.DisplayFor(modelItem => Model.venda[i].Broker)</th>
                <th>@Html.DisplayFor(modelItem => Model.venda[i].Data)</th>
                <th>@Html.DisplayFor(modelItem => Model.acao[i].Codigo)</th>
            </tr>
        }
    </tbody>
</table>