@model Prova1.Models.Compra

@{
    ViewData["Title"] = "Details";
}

<div>
    <a asp-action="Index"><button class="btn btn-info"><i class="glyphicon glyphicon-chevron-left"></i></button></a>
    <h2>Detalhes da Compra</h2>
</div>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Broker)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Broker)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Acao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Acao)
        </dd>
    </dl>
</div>
