@model IEnumerable<Prova1.Models.Acao>

@{
    ViewData["Title"] = "Index";
}

<h2>Bolsa de Valores</h2>

<p>
    <a asp-action="Create"><button class="btn btn-info">Nova Ação</button></a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Atividade)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atividade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><button class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i></button></a>
                <a asp-action="Details" asp-route-id="@item.ID"><button class="btn btn-warning"><i class="glyphicon glyphicon-file"></i></button></a>
                <a asp-action="Delete" asp-route-id="@item.ID"><button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button></a>
            </td>
        </tr>
}
    </tbody>
</table>
